-r requirements-build.in

Pygments==2.7.1
Werkzeug==1.0.1
bandit==1.6.2
black==19.10b0
coverage==5.3
django-debug-toolbar==2.2
django-extensions==3.0.8
docker-compose==1.27.3
fabric==2.5.0
invoke==1.4.1
ipdb==0.13.3
ipython==7.18.1
isort==5.5.2
model-bakery==1.1.1
pip-tools==5.3.1
pre-commit==2.7.1
pylama==7.7.1
pylint-celery==0.3
pylint-django==2.3.0
pylint==2.6.0
pytest-bandit==0.5.2
pytest-black==0.3.11
pytest-cov==2.10.1
pytest-django==3.10.0
pytest-isort==1.2.0
pytest-mock==3.3.1
pytest==6.0.2
radon==4.3.1
safety==1.9.0
